
// CSS Variables for the Heatherstone HOA site.

$c-light-teal: #386F72;
$c-dark-teal: #104547;
$c-white: #eee;
$c-black: #111;
$c-caption-overlay: rgba(17, 17, 17, 0.5);

$f-serif: 'Prata', serif;
$f-sans-serif: 'Roboto', sans-serif;

$fs-logo: 38px;
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 16px;
$fs-extra-large: 24px;
$fs-title: 18px;

$desktop-width: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
