
// CSS Variables for the Heatherstone HOA site.

$c-light-teal: #386F72;
$c-dark-teal: #104547;
$c-white: #eee;
$c-black: #111;

$f-serif: 'Prata', serif;
$f-sans-serif: 'Roboto', sans-serif;

$fs-logo: 38px;
$fs-normal: 14px;
$fs-title: 18px;
